* {
    color: #C2D6EC;
    margin: 0;
    padding: 0;
    box-sizing; border-box;
    font-family: 'montserrat', 'sans-serif';
}
#container {
    padding: 5px;
    display: flex;
    width: 970px;
    height: 700px;
	background-color: #1c345d;
    justify-content:space-between;
    flex-direction: column;
}
h1 {
    background-color: #CF3036;
    height: 60px;
    width: 950px;
    padding: 10px;
    border-radius: 5px;
}

.nav {
    background-color: #297D8C;
    height: 300px;
    width: 220px;
    padding: 1px;
    display: flex;
    box-sizing; border-box;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #0E1821;
    height: 550px;
    width: 700px;
    padding: 10px;
    box-sizing; border-box;
}

#main-content {
    margin-top: 15px;
    width: 950px;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

#footer {
    margin-top: 10px;
    background-color: #5E6673;
    height: 65px;
    width: 950px;
    padding: 5px;
    display: flex;
    box-sizing; border-box;
    justify-content: flex-start;
    align-items: center;
}
